:root {
  --primary-color: #ec1f55;
  --text-color: #333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  background: #f953c6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #b91d73,
    #f953c6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b91d73,
    #f953c6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

// Player
.player {
  position: relative;
  max-width: 480px;
  margin: 0 auto;

  .icon-pause {
    display: none;
  }

  &.playing .icon-pause {
    display: inline-block;
  }

  &.playing .icon-play {
    display: none;
  }
}

.dashboard {
  padding: 16px 16px 14px;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 480px;
  border-bottom: 1px solid #ebebeb;
  border-radius: 10px;
}

/* HEADER */
header {
  text-align: center;
  margin-bottom: 10px;

  h4 {
    color: var(--primary-color);
    font-size: 12px;
  }

  h2 {
    color: var(--text-color);
    font-size: 20px;
  }
}

/* CD */
.cd {
  display: flex;
  margin: auto;
  width: 200px;

  &-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #333;
    background-size: cover;
    margin: auto;
    animation: rotate-cd 10s linear infinite;
    animation-play-state: paused;
  }

  &.active .cd-thumb {
    animation-play-state: running;
  }
}

/* CONTROL */
.control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 18px 0 8px 0;

  .btn {
    color: #666;
    padding: 18px;
    font-size: 18px;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &.active {
      color: var(--primary-color);
      background-color: rgba(54, 54, 54, 0.151);
    }

    &-toggle-play {
      border-radius: 50%;
      font-size: 24px;
      color: #fff;
      background-color: var(--primary-color);
    }

    &:hover {
      background-color: var(--primary-color);
      color: #fff;
    }
  }
}

.progress_time {
  width: 200px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;

  .divide {
    margin-right: 5px;
  }

  .current_time {
    width: 50px;
  }
}

.progress {
  width: 100%;
  -webkit-appearance: none;
  height: 6px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 6px;
    background-color: var(--primary-color);
    cursor: pointer;
  }
}

/* PLAYLIST */
.playlist {
  margin-top: 408px;
  padding: 12px;
}

.song {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);

  &.active {
    background-color: var(--primary-color);
  }

  &:active {
    opacity: 0.8;
  }

  &.active .option,
  &.active .author,
  &.active .title {
    color: #fff;
  }

  .thumb {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;
  }
  .body {
    flex: 1;
    padding: 0 16px;
  }

  .title {
    font-size: 18px;
    color: var(--text-color);
  }

  .author {
    font-size: 12px;
    color: #999;
  }

  .option {
    padding: 16px 8px;
    color: #999;
    font-size: 18px;
  }
}

@keyframes rotate-cd {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
